[submodule "Source/Thirdparty/imgui"]
	path = Source/Thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Source/Thirdparty/glm"]
	path = Source/Thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Source/Thirdparty/tinyobjloader"]
	path = Source/Thirdparty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
