[submodule "Source/Thirdparty/imgui"]
	path = Source/Thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Source/Thirdparty/glm"]
	path = Source/Thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Source/Thirdparty/tinyobjloader"]
	path = Source/Thirdparty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Asset/raytracing-references"]
	path = Asset/raytracing-references
	url = https://github.com/sergeyreznik/raytracing-references.git
[submodule "Source/Thirdparty/nameof"]
	path = Source/Thirdparty/nameof
	url = https://github.com/Neargye/nameof.git

[submodule "Source/Thirdparty/filewatch"]
	path = Source/Thirdparty/filewatch
	url = https://github.com/ThomasMonkman/filewatch.git
[submodule "Source/Thirdparty/DirectXTex"]
	path = Source/Thirdparty/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "Source/Thirdparty/tinygltf"]
	path = Source/Thirdparty/tinygltf
	url = https://github.com/syoyo/tinygltf.git
